/* Dekstop */
@media only screen and (min-width:1440px){
    .container .main .box-cart{
        width: 100%;
        margin-top: 20px;
        
    }
    .container .main .box-cart h1{
        width: 80%;
        margin: 20px 20px 0 50px;
        padding: 20px ;
        font-size: 24px;
        background-color: white;
        /* box-shadow: 0 0 3px rgb(79, 79, 79); */
        /* border-radius: 2px; */
    }
    .container .main .box-cart .detail-cart{
        width: 90%;
        margin: 20px 5% 0 5%;
        height: max-content;
        background-color: white;
        /* box-shadow: 0 0 3px rgb(79, 79, 79); */
        /* border-radius: 2px; */
    }
    
    .container .main .box-cart .detail-cart .title-product-cart{
        width: 100%;
        height: max-content;
        background-color: white;
        display: flex;
        font-weight: 500;
        font-size: 20px;
        justify-content: space-evenly;
    }
    .container .main .box-cart .detail-cart .title-product-cart div:nth-child(-n+5){
        padding: 20px;
        height: max-content;    
        margin-bottom: 10px;
    }
    .container .main .box-cart .detail-cart .infor-product-cart {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .container .main .box-cart .detail-cart .col1{
        width: 200px;
        height: 230px;
        text-align: center;
        
    }
    .container .main .box-cart .detail-cart .col2{
        padding: 20px;
        width: 450px;
        height: 230px;
        
    }
    .container .main .box-cart .detail-cart .col3{
        width: 220px;
        height: 230px;
        text-align: center;
        /*  */
    }
    .container .main .box-cart .detail-cart .col4{
        width: 220px;
        height: 230px;
        /*  */
        text-align: center;
    }
    .container .main .box-cart .detail-cart .col5{
        width: 220px;
        height: 230px;
        text-align: center;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .layout-mobile{
        display: flex;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .layout-mobile-child1,.layout-mobile-child2{
        display: flex;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .img-prod-cart img{
        width: 180px;
        height: 230px;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart h3,p,a{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart a{
        text-decoration: none;
        color: black;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart h3{
        height: 70px;
        font-size: 16px;
        font-weight: 500;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .count-prod-cart{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        padding: 20px;
        height: fit-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .count-prod-cart .btn-cout{
        color: hsl(0, 0%, 0%); 
        border: none;
        padding: 15px 20px;
        font-size: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 30px;
        background-color: #ffffff;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .count-prod-cart .quantity {
        font-size: 20px;
        margin: 0 10px;
        display: block;
        padding: 0 20px 0 20px;
        height: fit-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .price-prod-cart{
        padding: 20px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        color: red;
        font-weight: 500;
        height: fit-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .price-prod-cart p{
        height: fit-content;
        margin: 0;
    }
    .container .main .box-cart .detail-cart .payments-cart {
        width: 100%;
        height: max-content;
        margin-top: 20px;
        padding: 10px;
        display: flex;
    
    }
    .container .main .box-cart .detail-cart .payments-cart #form-note{
        width: 100%;
        height: 170px;
    }
    .container .main .box-cart .detail-cart .payments-cart .custom-note-cart{
        width: 65%;
    }
    .container .main .box-cart .detail-cart .payments-cart .custom-note-cart label{
        cursor: pointer;
        font-size: 18px;
    }
    .container .main .box-cart .detail-cart .payments-cart #form-note textarea{
        width: 100%;
        height: 100px;
        border-radius: 3px;
        padding: 20px;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart{
        width: 35%;
        padding:27px 10px 25px 0;
        text-align: right;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart p{
        font-style: italic;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .total-price-cart span{
        color: red;
        font-size: 18px;
        font-weight: 500;
        margin-left: 20px;
    
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-payment{
        height: max-content;
    
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-link{
        width: 200px;
        /* height: 70px; */
        padding: 10px;
        border-radius: 3px;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        background-color: #AE1515;
        font-weight: 500;
        margin-left: 20px;
    }
    
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-link:hover{
        box-shadow: 0 1px 5px rgb(0, 0, 0);
    }

}

@media only screen and (max-width:1440px){
    .container .main .box-cart{
        width: 100vw;
        margin-top: 20px;
        
    }
    .container .main .box-cart h1{
        width: 80vw;
        margin: 20px 20px 0 50px;
        padding: 20px ;
        font-size: 24px;
        background-color: white;
        /* box-shadow: 0 0 3px rgb(79, 79, 79); */
        /* border-radius: 2px; */
    }
    .container .main .box-cart .detail-cart{
        width: 90vw;
        margin: 20px 5vw 0 5vw;
        height: max-content;
        background-color: white;
        /* box-shadow: 0 0 3px rgb(79, 79, 79); */
        /* border-radius: 2px; */
    }
    
    .container .main .box-cart .detail-cart .title-product-cart{
        width: 100%;
        height: max-content;
        background-color: white;
        display: flex;
        font-weight: 500;
        font-size: 20px;
        /* justify-content: space-evenly; */
    }
    .container .main .box-cart .detail-cart .title-product-cart div:nth-child(-n+5){
        padding: 10px;
        height: max-content;    
        margin-bottom: 10px;
        font-size: 14px;
        /* width: 250px; */

    }
    .container .main .box-cart .detail-cart .infor-product-cart {
        display: flex;
        /* justify-content: space-evenly; */
    }
    .container .main .box-cart .detail-cart .col1{
        padding: 10px;
        width: 15vw;
        height: 25vh;
        min-width: 15vw;
        /* max-width: 15vw ; */
    }
    .container .main .box-cart .detail-cart .col2{
        padding: 10px;
        width: 25vw;
        height: 135px;
        min-width: 25vw;

        
    }
    .container .main .box-cart .detail-cart .col3{
        padding: 10px;
        width: 20vw;
        height: 135px;
        min-width: 20vw;
        display: flex;
        justify-content: center;
    }
    .container .main .box-cart .detail-cart .col4{
        padding: 10px;
        width: 10vw;
        height: 135px;
        min-width: 10vw;
        display: flex;
        justify-content: center;
    }
    .container .main .box-cart .detail-cart .col5{
        padding: 10px;
        width: 10vw;
        height: 135px;
        min-width: 10vw;
        display: flex;
        justify-content: center;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .layout-mobile{
     /* height: 135px; */
        display: flex;
        height: max-content;

    }
    .container .main .box-cart .detail-cart .infor-product-cart .layout-mobile-child1 {
        display: flex;
        width: 100%;
        height: max-content;

    }
    .container .main .box-cart .detail-cart .infor-product-cart .layout-mobile-child2{
        display: flex;
        width: 100%;
        height: max-content;

    }
    /* .container .main .box-cart .detail-cart .infor-product-cart .img-prod-cart{
        width: 100%;
    } */
    .container .main .box-cart .detail-cart .infor-product-cart .img-prod-cart img{
        width: 90%;
        height: 100%;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart{
        height: max-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart h3,p,a{
        margin-bottom: 10px;
        font-size: 13px;
        }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart a{
        text-decoration: none;
        color: black;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart h3{
        height: 30px;
        font-weight: 500;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .count-prod-cart{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        padding: 10px;
        font-size: 1rem;
        height: fit-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .count-prod-cart .btn-cout {
        color: hsl(0, 0%, 0%);
        border: none;
        /* padding: 15px 20px; */
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 0; */
        height: 30px;
        background-color: #ffffff;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .count-prod-cart .quantity {
        font-size: 20px;
        margin: 0 10px;
        display: block;
        padding: 0 10px 0 10px;
        height: fit-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .price-prod-cart{
        padding: 20px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        color: red;
        font-weight: 500;
        height: fit-content;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .price-prod-cart p{
        height: fit-content;
        margin: 0;
    }
    .container .main .box-cart .detail-cart .payments-cart {
        width: 100%;
        height: max-content;
        margin-top: 20px;
        padding: 10px;
        display: flex;
        font-size: 16px;
    }
    .container .main .box-cart .detail-cart .payments-cart #form-note{
        width: 100%;
        height: 170px;
    }
    .container .main .box-cart .detail-cart .payments-cart .custom-note-cart{
        width: 65%;
    }
    .container .main .box-cart .detail-cart .payments-cart .custom-note-cart label{
        cursor: pointer;
        /* font-size: 18px; */
    }
    .container .main .box-cart .detail-cart .payments-cart #form-note textarea{
        width: 100%;
        height: 100px;
        border-radius: 3px;
        padding: 20px;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart{
        width: 40vw;
        padding:27px 10px 25px 0;
        text-align: right;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart p{
        font-style: italic;
        font-size: 0.rem;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .total-price-cart span{
        color: red;
        font-size: 18px;
        font-weight: 500;
        margin-left: 20px;
    
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-payment{
        height: max-content;
    
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-link{
        width: 200px;
        /* height: 70px; */
        padding: 10px;
        border-radius: 3px;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
        background-color: #AE1515;
        font-weight: 500;
        margin-left: 20px;
    }
    
    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-link:hover{
        box-shadow: 0 1px 5px rgb(0, 0, 0);
    }
}


@media only screen and (max-width:850px){
    .container .main .box-cart .detail-cart .mobile{
        display: none;
    }
    .container .main .box-cart .detail-cart .layout-mobile .layout-mobile-child1{
        display: block;
    }
    .container .main .box-cart .detail-cart .layout-mobile .layout-mobile-child2{
        display: block;
    }

    .container .main .box-cart .detail-cart .infor-product-cart .totalprice-prod{
        display: none;
    }
    .container .main .box-cart .detail-cart .detail-prod-cart{
        height: 100px;
        width: 200px;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .detail-prod-cart h3,p,a{
        margin-bottom: 5px;
    }
    .container .main .box-cart .detail-cart .col1 {
        padding: 10px;
        width: 25vw;
        height: 30vh;
        min-width: 25vw;
    }
}
@media only screen and (max-width:630px){
    .container .main .box-cart{
        width: 100vw;
        /* height: 50vh; */
        margin-top: 20px;
        
    }
    .container .main .box-cart h1 {
        display: none;
    }

    .container .main .box-cart .detail-cart .col1 {
    padding: 10px;
    width: 33vw;
    height: 28vh;
    min-width: 33vw;
    }
    .container .main .box-cart .detail-cart .payments-cart .custom-note-cart{
        width: 50%;
    }
    .container .main .box-cart .detail-cart .payments-cart .custom-note-cart{
        font-size: 13px;
    }
    .container .main .box-cart .detail-cart .payments-cart .payment-cart{
        width: 50%;
        padding:27px 10px 25px 0;
        text-align: right;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .price-prod-cart {
        /* margin-bottom: 20px; */
        width: 100px;
        padding: 10px;
    }
    .container .main .box-cart .detail-cart .infor-product-cart .price-prod-cart p{
        font-size: 14px;
    }

    .container .main .box-cart .detail-cart .payments-cart .payment-cart .btn-link{
        /* width: 45%; */
        padding: 10px;
        margin: 0;
        font-size: 10px;
    }

}