@media only screen and (min-width: 1024px){
    .danhmuc{
        top: 0px;
        padding: 15px;
        width: 100%;
        background: #ffffff;
        z-index: 1;
        color: #000000;
        line-height: 20px;
        white-space: nowrap;
        overflow-x: auto;
    }
    .danhmuc a{
        text-decoration: none;
        color: black;
    }
    .danhmuc span{
        font-weight: 500;
    }
    .img-title {
        width: 100%;
        height: 400px;
        background-image: url('../img/t-shirt_grande.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Để lớp phủ có thể được đặt chính xác */
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
        pointer-events: none; /* Không chặn sự kiện chuột */
    }
    
    .img-title h2 {
        margin: 0; /* Xóa khoảng cách bên ngoài */
        padding: 0;
        color: white;
        font-weight: 500;
        font-size: 24px;
        z-index: 1; /* Đảm bảo chữ nằm trên lớp phủ */
    }
    
    .product-section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        padding: 0 130px;
        height: 700px;
        justify-content: center;
    }
    .image-container {
        display: flex;
        gap: 30px;
    }
    
    
    .main-image {
        width: 400px;
        height: 400px;
        background-color: #ddd;
    }
    .main-image  img{
        width: 100%;
    }
    .small-images {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    
    }
    .small-image {
        width: 130px;
        height: 150px;
        background-color: #ccc;
        margin-top: 0px;
    }
    .small-image img{
        width: 100%;
        height: 100%;
    
    }
    .product-images img {
        width: 50%;
        height: auto;
        display: flex;
    }
    
    .product-details {
        flex: 1;
        padding: 10px;
        /* max-width: 30%; */
        margin-left: 70px;
        width: 100%;
        height: 100%;
    }
    
    .product-title {
        font-size: 28px;
        font-weight: bold;
    }
    .quantity-size{
        margin-top: 20px;
    }
    .price {
        color:#e60c0c;
        font-size: 24px;
        margin-top: 20px;
        font-weight: bolder;
    }
    .masp{
        font-size: 20px;
        margin-top: 25px;
    }
    .size-selection{
        margin-top: 20px;
        display: flex;
        align-items: center;

    }
    .size-selection label{
        align-items: center;
    }
    .quantity-selection label {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .size-buttons {
        display: flex;
        gap: 10px;
        /* margin-right:5px ; */
        margin-left:20px ;
    }
    .size-buttons div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 50%;
        cursor: pointer;
        background-color: #f8f8f8;
    }
    .quantity-size{
        margin-top: 20px;
    }
    .quantity-selection{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .quantity-buttons{
        display: flex;
        margin-left: 10px;
    }
    .quantity-buttons #amount{
        width: 70px;
        height: 50px;
        text-align: center;
        font-size: 20px;
    }
    .quantity-buttons span{
        padding: 10px 15px;
        border: 1px solid #ddd;
        background-color: #fff;
        cursor: pointer;
        font-size: 20px;
    }
    input[type="submit"] {
        width: 30%;

        padding: 10px;
        font-size: 1rem;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        margin-top: 20% ;
    }
    
    input[name="add-to-cart"] {
        background-color: #000000;
        margin-right: 10px;
    }
    
    input[name="buy-now"] {
        background-color: #000000;
    }
    .tabs {
        padding: 0 30px;
        margin: 0px 0 0 60px;
    }
    .size img{
        position: relative;
        left: 60px;
        padding: 30px;
        width: 50%;
    }
    .tab {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 5px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 20px
    }
    .tab:hover{
        background-color: #000000;
        color: #ddd;
    }
    .tab1 {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 5px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 20px;
        color: #ddd;
        background-color: #000000;
    }
    
    .related-products {
        width: 1500px;
        margin: 0 auto;
    
        
    }
    
    .related-products h3 {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 25px;
        font-size: 25px;
    }
    
    .related-products .product {
        display: inline-block;
        width: calc(29% - 0px);
        margin: 0 10px 0 40px;
    
    }
    
    .related-products img {
        width: 100%;
        height: auto;
    }
    .related-products h1{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .related-products p{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-size: 20px;
        margin-bottom: 10px;
        color: #e60c0c;
    }
    .tab2 {
        display: inline-block;
        margin-right: 10px;
        margin-top: 15px;
        /* padding: 5px 5px; */
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 20px;
        width: 100%;
    }
    
    #comment-section {
        width: 70%;
        margin: 20px auto;
        font-family: Arial, sans-serif;
        color: #333;
    }
    
    #comment-section h3 {
        margin-bottom: 20px;
        color: #000000;
    }
    
    
    #comment-form {
        margin-bottom: 20px;
    }
    
    #username-input{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    #comment-input {
        width: 100%;
        height: 120px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .gui {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        /* transition: 0.3s; */
        margin-top: 10px;
        text-align: center;
    }
    
  
    #comment-list {
        margin-top: 20px;
    }
    
    .comment-item {
        display: flex;
        /* align-items: flex-start; */
        margin-bottom: 15px;
    }
    
    .comment-item img.avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }
    
    .comment-content {
        /* background-color: #f9f9f9; */
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }
    
    .comment-content .username {
        font-weight: bold;
        color: #333;
    }
    
    .comment-content .comment-time {
        font-size: 12px;
        color: #666;
    }
    
    .comment-content .comment-text {
        margin-top: 5px;
        font-size: 14px;
        color: #444;
    }
    
}
 @media screen and (min-width: 601px) and (max-width: 1024px) {
    .img-title {
        width: 100%;
        height: 300px;
        background-image: url('../img/t-shirt_grande.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Để lớp phủ có thể được đặt chính xác */
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); 
        pointer-events: none; 
    }
    
    .img-title h2 {
        margin: 0;
        padding: 0;
        color: white;
        font-weight: 500;
        font-size: 24px;
        z-index: 1; 
    }
    .product-section {
        display: flex;
        padding: 0 20px;
    }

    .image-container {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    .main-image {
        width: 100%;
        height: 80%;
       
    }
    .main-image img{
        width: 100%;
    }
    .small-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    
    }

    .small-image {
        width: 75px;
        height: 90px;
        background-color: #ccc;
        margin-top: 0px;
    }
    .small-image img{
        width: 100%;
        gap: 10px;
        height: 100%;
    }
   
    .product-details {
        width: 90%;
        margin: 20px;
    }

    .product-title {
        font-size: 24px;
    }   

    .price {
        font-size: 20px;
        color: #e60c0c;
        margin-top: 10px;
    }

    .masp {
        font-size: 18px;
        margin-top: 10px;
    }

    .size-selection{
        margin-top: 10px;
        display: flex;
        align-items: center;
    
    }
    .quantity-selection {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .size-buttons div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        border-radius: 50%;
        border: 1px solid #000000;
    }
    .size-buttons{
        display: flex;
        gap: 10px;
    }
    .quantity-buttons #amount {
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 16px;
    }
    .quantity-size{
        margin-top: 10px;
    }
    .quantity-buttons span {
        padding: 7px 10px;  
        font-size: 16px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 10px 15px;
    }

    input[type="submit"] {
        width: 40%; 
        height: 40px;
        padding: 10px;
        font-size: 13px;
        margin-top: 20px;
        margin-left: 5px;
        border-radius: 20px;
        background-color: #000000;
        color: white;
    }

  
    .size img {
        padding: 10px 15px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 20px;
        width: 60%;
    }

   
    .tabs {
        padding: 0 10px;
        margin: 20px 0 0 5px;
    }
    .tab {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 5px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 13px
    }
    .tab:hover{
        background-color: #000000;
        color: #ddd;
    }
    .tab1 {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 5px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 13px;
        color: #ddd;
        background-color: #000000;
    }

    
    .related-products {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .related-products h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .related-products .product {
        width: 30%; 
        display: inline-block;
        margin: 0 1%; 
        vertical-align: top; 
    }

    .related-products img {
        width: 100%;
        height: auto;
    }

    .related-products h1 {
        font-size: 18px;
        margin-top: 10px;
    }

    .related-products p {
        font-size: 16px;
        color: #e60c0c;
    }
    #comment-section {
        width: 90%; 
        margin: 10px auto; 
    }

    #comment-section h3 {
        font-size: 18px; 
        text-align: left; 
        margin-bottom: 15px;
    }

   
    #username-input,
    #comment-input {
        width: 100%; 
        font-size: 14px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #comment-input {
        height: 100px; 
    }

    .gui {
        font-size: 14px; 
        width: 30%;
        padding: 10px; 
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }

  
    #comment-list {
        margin-top: 15px; 
    }

    .comment-item {
        display: flex;
        align-items: center; 
        margin-bottom: 15px; 
    }

    .comment-item img.avatar {
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        margin-right: 10px; 
    }

    .comment-content {
        width: calc(100% - 50px);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #f9f9f9; 

    .comment-content .username {
        font-size: 14px; 
        color: #000;
    }

    .comment-content .comment-time {
        font-size: 12px; 
        color: #888;
        margin-top: 2px;
    }

    .comment-content .comment-text {
        font-size: 14px;
        margin-top: 5px;
        color: #444;
    }
    
}
}
@media (max-width: 600px) {
    .img-title {
        width: 100%;
        height: 250px;
        background-image: url('../img/t-shirt_grande.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; 
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); 
        pointer-events: none; 
    }
    
    .img-title h2 {
        margin: 0;
        padding: 0;
        color: white;
        font-weight: 500;
        font-size: 30px;
        z-index: 1; 
    }
    .product-section {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    .image-container {
        flex-direction: column;
        gap: 10px;
    }

    .main-image {
        width: 100%;
        height: auto;
    }

    .main-image img {
        width: 100%;
        height: auto;
    }

    .small-images {
        display: none;
    }

    .small-image {
        width: 60px;
        height: 60px;
    }

    .small-image img {
        width: 100%;
        height: 100%;
    }

    .product-details {
        padding: 10px;
    }

    .product-title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    .price {
        font-size: 18px;
        font-weight: bold;
        color: #e60c0c;
        margin-top: 10px;
    }

    .masp {
        font-size: 14px;
        margin-top: 10px;
    }
    .size-buttons{
        display: flex;
        gap: 10px;
    }
    .size-selection{
        margin-top: 10px;
        display: flex;
        align-items: center;
    
    }
    .size-buttons div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        border-radius: 50%;
        border: 1px solid #000000;
    }
    .size img {
        padding: 10px 15px;
        border: 1px solid #ddd;
        cursor: pointer;
        font-size: 20px;
        width: 100%;
    }
    .quantity-selection {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .quantity-size{
        margin-top: 10px;
    }
    .quantity-buttons {
        display: flex;
        /* gap: 15px; */
        margin-top: 10px;
    }

    .quantity-buttons #amount {
        width: 50px;
        height: 35px;
        font-size: 16px;
        text-align: center;
    }

    .quantity-buttons span{
        width: 35px;
        height: 35px;
        font-size: 16px;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 5px 10px;
    }
    .plus-btn{
        background-color: white;
    }
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-top: 15px;
        border-radius: 20px;
        color: white;
        background-color: #000;
        text-align: center;
    }
    .tabs {
        padding: 0 10px;
        margin: 30px 0 0 5px;
    }

    .tab {
        font-size: 14px;
        margin: 7px 0;
        padding: 5px;
        background: #f8f8f8;
    }

    .tab1 {
        background-color: #000;
        color: #fff;
    }
    .related-products {
        margin-top: 20px;
        padding: 10px;
    }

    .related-products h3 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .related-products .product {
        display: inline-block;
        width: 48%;
        margin-bottom: 15px;
    }
    .related-products .product:nth-child(3) {
        display: none;
    }

    .related-products img {
        width: 100%;
        height: auto;
    }

    .related-products h1 {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }

    .related-products p {
        font-size: 14px;
        color: #e60c0c;
        text-align: center;
    }
    #comment-section {
        width: 95%; 
        margin: 10px auto;
    }

    #comment-section h3 {
        font-size: 16px; 
        /* text-align: center;  */
        margin-bottom: 15px;
    }
    #username-input,
    #comment-input {
        width: 100%; 
        font-size: 14px; 
        padding: 8px; 
        margin-bottom: 10px; 
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #comment-input {
        height: 80px; 
    }

    .gui {
        width: 100%; 
        padding: 12px; 
        font-size: 14px; 
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
    }

   
    #comment-list {
        margin-top: 15px; 
    }

    .comment-item {
        display: flex;
        align-items: center; 
        margin-bottom: 15px; 
    }

    .comment-item img.avatar {
        width: 40px; 
        height: 40px;
        border-radius: 50%;
        margin-right: 10px; 
    }

    .comment-content {
        width: calc(100% - 50px); 
        padding: 10px; 
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .comment-content .username {
        font-size: 14px; 
        font-weight: bold;
        color: #000;
        margin-bottom: 5px;
    }

    .comment-content .comment-time {
        font-size: 12px;
        color: #888;
    }

    .comment-content .comment-text {
        font-size: 14px; 
        color: #444;
        margin-top: 5px;
    }
}
    

