/* tablet and desktop */
@media only screen and (min-width:1024px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0 auto;
        font-family: sans-serif;
        width: 100%;
    
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        position: fixed;
        /* z-index: 1; */
        background-color: white;
        width: 100%;
        height: 70px;
    }
    header img {
        width: 110px;
        height: 90px;
        margin-right: 20px;
    }
    header .menu-large{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    header .menu-large .sub-menu-left{
        list-style: none;
        width: 120px;
        text-align: center;
        height: 15px;
    }
    header ul .sub-menu-left::after{
        content: "";
        width: 0px;
        height: 1px;
        background-color: #000000;
        display: block;
        position: relative;
        /* transition: width 0.5s; */
    }
    header ul .sub-menu-left .menu-smaller::after{
        content: "";
        width: 0px;
        height: 1px;
        background-color: #000000;
        display: block;
        position: relative;
        /* transition: width 0.5s; */
    }
    header ul .sub-menu-left:hover::after{
        width: 100%;
        animation: example 0.5s alternate;
    }
    header ul .sub-menu-left .menu-smaller:hover::after{
        width: 100%;
        animation: example 0.5s alternate;
    }
    @keyframes example{
        0%{width: 0%;background-color: rgb(0, 0, 0);}
        25%{width: 25%;background-color: rgb(0, 0, 0);}
        50%{width: 50%;background-color: rgb(0, 0, 0);}
        75%{width: 75%;background-color: rgb(0, 0, 0);}
        100%{width: 100%;background-color: rgb(0, 0, 0);}
    }
    header ul li:hover{
        cursor: pointer;
    }
    header .menu-large .sub-menu-left .menu-small{
        /* display: none; */
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        transition: 0.2s;
        width: 120px;
    }
    header .menu-large .sub-menu-left:hover .menu-small{
        /* display: block; */
        opacity: 1;
        visibility: visible;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        margin-top: 10px;
        width: 120px;
    }
    header .menu-large .sub-menu-left .menu-small .menu-smaller{
        height: 30px;
        line-height: 29px;
        list-style: none;
    
    }
    header .menu-large li a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    input[type="placeholder"]{
        color: #000;
        font-size: 14px;
        width: 100px;
    }
    .menu-large li{
        list-style: none;
        position: relative;
    }
    .menu-large input {
        border-bottom: 2px solid black;
        border-top: none;                       
        border-left: none;
        border-right: none;
        height: 25px;
        width: 130px;
        padding: 5px;
    }
    .menu-large li .search{
        position: absolute;
        right: 2px;
        bottom: 2px;
    }
    .menu-large .sub-menu-right{
        margin: 0 15px;
    }
    .menu-large .sub-menu-right i{
        font-size: 20px;
    }
    /* này là phần menu mobile */
    header .menu-large #icon-mobile{
        position: relative;
        display: none
    
    }
    header .menu-large #icon-mobile>ul{
        position: absolute;
    }
    /* header #navigation{
        display: none;
    } */
    .menu-large #form-desktop{
        display: block;
    }
    .menu-large #form-mobile{
        display: none;
    }
    #menu-mobile-visi-hid{
        display: none;
    }

    .container .back-home{
        /* position: absolute; */
        display: flex;
        /* top: 75px; */
        padding: 75px 0 10px 57px;
    }
    .container .back-home .home a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    .container .back-home .collection-product{
        font-weight: 600;
    }
    .title-background{
        background-repeat: no-repeat;
        background-image: url(../img/breadcrumb-blog_master.jpg);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        /* width: 100vw; */
        height: 300px;
        background-position: center;

    }
    .title-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .title-background h2{
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        width: 1440px;
        margin: 0 auto;
    } */
    .main .collection{
        text-align: center;
        margin: 20px 0;
    }
    .main .arrange{
        display: flex;
        justify-content: end;
        margin-right: 168px;
    }
    .main .arrange label{
        line-height: 30px;
    }
    .main .arrange select{
        border: 1px solid #dedede;
        height: 30px;
    }
    .main .arrange input{
        border: 1px solid #dedede;
        height: 30px;
        background-color: rgb(255, 255, 255);
        line-height: 29px;
        cursor: pointer;
    }
    .main .arrange input:active{
        background-color: #dedede;
    }
    .main .wrapp-product-large{
        margin: 20px 0;
    }
    .main .wrapp-product-large .wrapp-product{
        display: flex;
        justify-content: center;
    }
    .main .wrapp-product-large .wrapp-product .fame-product{
        width: 370px;
        height: 655px;
        margin: 0 8px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product img{
        width: 100%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product{
        text-align: center;
        margin: 15px 5px 0px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .name-product{
        margin-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .price-product{
        color: red;
        font-weight: 700;
    }
    .next-page{
        display: flex;
        justify-content: center;
    }
    .next-page .number-page span{
        /* display: flex; */
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 20px 2px;
    }
    .next-page .number-page span:hover{
        color: #fff;
        background-color: #000;
        transition: background-color 0.5s ease-in;
    }
    .image-background{
        background-image: url(../img/za.png);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
        height: 300px;
        background-position: center;
    

    }
    .image-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .image-background h2{
        color: #fff;
        filter: brightness(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* của những màn hình lớn */
@media only screen and (max-width:1024px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0 auto;
        font-family: sans-serif;
        width: 100%;
    
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        position: fixed;
        /* z-index: 1; */
        background-color: white;
        width: 100%;
        height: 70px;
    }
    header img {
        width: 110px;
        height: 90px;
        margin-right: 20px;
    }
    header .menu-large{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    header .menu-large .sub-menu-left{
        list-style: none;
        width: 120px;
        text-align: center;
        height: 15px;
    }
    header ul .sub-menu-left::after{
        content: "";
        width: 0px;
        height: 1px;
        background-color: #000000;
        display: block;
        position: relative;
        /* transition: width 0.5s; */
    }
    header ul .sub-menu-left .menu-smaller::after{
        content: "";
        width: 0px;
        height: 1px;
        background-color: #000000;
        display: block;
        position: relative;
        /* transition: width 0.5s; */
    }
    header ul .sub-menu-left:hover::after{
        width: 100%;
        animation: example 0.5s alternate;
    }
    header ul .sub-menu-left .menu-smaller:hover::after{
        width: 100%;
        animation: example 0.5s alternate;
    }
    @keyframes example{
        0%{width: 0%;background-color: rgb(0, 0, 0);}
        25%{width: 25%;background-color: rgb(0, 0, 0);}
        50%{width: 50%;background-color: rgb(0, 0, 0);}
        75%{width: 75%;background-color: rgb(0, 0, 0);}
        100%{width: 100%;background-color: rgb(0, 0, 0);}
    }
    header ul li:hover{
        cursor: pointer;
    }
    header .menu-large .sub-menu-left .menu-small{
        /* display: none; */
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        transition: 0.2s;
        width: 120px;
    }
    header .menu-large .sub-menu-left:hover .menu-small{
        /* display: block; */
        opacity: 1;
        visibility: visible;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        margin-top: 10px;
        width: 120px;
    }
    header .menu-large .sub-menu-left .menu-small .menu-smaller{
        height: 30px;
        line-height: 29px;
        list-style: none;
    
    }
    header .menu-large li a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    input[type="placeholder"]{
        color: #000;
        font-size: 14px;
        width: 100px;
    }
    .menu-large li{
        list-style: none;
        position: relative;
    }
    .menu-large input {
        border-bottom: 2px solid black;
        border-top: none;                       
        border-left: none;
        border-right: none;
        height: 25px;
        width: 130px;
        padding: 5px;
    }
    .menu-large li .search{
        position: absolute;
        right: 2px;
        bottom: 2px;
    }
    .menu-large .sub-menu-right{
        margin: 0 15px;
    }
    .menu-large .sub-menu-right i{
        font-size: 20px;
    }
    /* này là phần menu mobile */
    header .menu-large #icon-mobile{
        position: relative;
        display: none
    
    }
    header .menu-large #icon-mobile>ul{
        position: absolute;
    }
    /* header #navigation{
        display: none;
    } */
    .menu-large #form-desktop{
        display: block;
    }
    .menu-large #form-mobile{
        display: none;
    }
    #menu-mobile-visi-hid{
        display: none;
    }

    .container .back-home{
        /* position: absolute; */
        display: flex;
        /* top: 75px; */
        padding: 75px 0 10px 57px;
    }
    .container .back-home .home a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    .container .back-home .collection-product{
        font-weight: 600;
    }
    .title-background{
        background-repeat: no-repeat;
        background-image: url(../img/breadcrumb-blog_master.jpg);
        position: relative;
        /* padding: 200px; */
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        /* width: 100vw; */
        height: 300px;
        background-position: center;

    }
    .title-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .title-background h2{
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        width: 1440px;
        margin: 0 auto;
    } */
    .main .collection{
        text-align: center;
        margin: 20px 0;
    }
    .main .arrange{
        display: flex;
        justify-content: end;
        margin-right: 8px;
    }
    .main .arrange label{
        line-height: 30px;
    }
    .main .arrange select{
        border: 1px solid #dedede;
        height: 30px;
    }
    .main .arrange input{
        border: 1px solid #dedede;
        height: 30px;
        background-color: rgb(255, 255, 255);
        line-height: 29px;
        cursor: pointer;
    }
    .main .arrange input:active{
        background-color: #dedede;
    }
    .main .wrapp-product-large{
        margin: 15px 0;
    }
    .main .wrapp-product-large .wrapp-product{
        display: flex;
        justify-content: center;
    }
    .main .wrapp-product-large .wrapp-product .fame-product{
        width: 370px;
        height: 550px;
        margin: 0 8px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product img{
        width: 100%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product{
        text-align: center;
        margin: 15px 5px 0px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .name-product{
        margin-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .price-product{
        color: red;
        font-weight: 700;
    }
    .next-page{
        display: flex;
        justify-content: center;
    }
    .next-page .number-page span{
        /* display: flex; */
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 20px 2px;
    }
    .next-page .number-page span:hover{
        color: #fff;
        background-color: #000;
        transition: background-color 0.5s ease-in;
    }
    .image-background{
        background-image: url(../img/za.png);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
        height: 300px;
        background-position: center;
    

    }
    .image-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .image-background h2{
        color: #fff;
        filter: brightness(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* media query cho mobile */
@media only screen and (max-width:600px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0 auto;
        font-family: sans-serif;
        width: 100%;
    
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        position: fixed;
        /* z-index: 1; */
        background-color: white;
        width: 100%;
        height: 70px;
    }
    header img {
        width: 110px;
        height: 90px;
        margin-right: 20px;
    }
    header .menu-large{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    header .menu-large .sub-menu-left{
        list-style: none;
        width: 120px;
        text-align: center;
        height: 15px;
    }
    header ul .sub-menu-left::after{
        content: "";
        width: 0px;
        height: 1px;
        background-color: #000000;
        display: block;
        position: relative;
        /* transition: width 0.5s; */
    }
    header ul .sub-menu-left .menu-smaller::after{
        content: "";
        width: 0px;
        height: 1px;
        background-color: #000000;
        display: block;
        position: relative;
        /* transition: width 0.5s; */
    }
    header ul .sub-menu-left:hover::after{
        width: 100%;
        animation: example 0.5s alternate;
    }
    header ul .sub-menu-left .menu-smaller:hover::after{
        width: 100%;
        animation: example 0.5s alternate;
    }
    @keyframes example{
        0%{width: 0%;background-color: rgb(0, 0, 0);}
        25%{width: 25%;background-color: rgb(0, 0, 0);}
        50%{width: 50%;background-color: rgb(0, 0, 0);}
        75%{width: 75%;background-color: rgb(0, 0, 0);}
        100%{width: 100%;background-color: rgb(0, 0, 0);}
    }
    header ul li:hover{
        cursor: pointer;
    }
    header .menu-large .sub-menu-left .menu-small{
        /* display: none; */
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        transition: 0.2s;
        width: 120px;
    }
    header .menu-large .sub-menu-left:hover .menu-small{
        /* display: block; */
        opacity: 1;
        visibility: visible;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        margin-top: 10px;
        width: 120px;
    }
    header .menu-large .sub-menu-left .menu-small .menu-smaller{
        height: 30px;
        line-height: 29px;
        list-style: none;
    
    }
    header .menu-large li a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    input[type="placeholder"]{
        color: #000;
        font-size: 14px;
        width: 100px;
    }
    .menu-large li{
        list-style: none;
        position: relative;
    }
    .menu-large input {
        border-bottom: 2px solid black;
        border-top: none;                       
        border-left: none;
        border-right: none;
        height: 25px;
        width: 130px;
        padding: 5px;
    }
    .menu-large li .search{
        position: absolute;
        right: 2px;
        bottom: 2px;
    }
    .menu-large .sub-menu-right{
        margin: 0 15px;
    }
    .menu-large .sub-menu-right i{
        font-size: 20px;
    }
    /* này là phần menu mobile */
    header .menu-large #icon-mobile{
        position: relative;
        display: none
    
    }
    header .menu-large #icon-mobile>ul{
        position: absolute;
    }
    /* header #navigation{
        display: none;
    } */
    .menu-large #form-desktop{
        display: block;
    }
    .menu-large #form-mobile{
        display: none;
    }
    #menu-mobile-visi-hid{
        display: none;
    }

    .container .back-home{
        /* position: absolute; */
        display: flex;
        /* top: 75px; */
        padding: 75px 0 10px 15px;
    }
    .container .back-home .home a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    .container .back-home .collection-product{
        font-weight: 600;
    }
    .title-background{
        background-repeat: no-repeat;
        background-image: url(../img/breadcrumb-blog_master.jpg);
        position: relative;
        /* padding: 200px; */
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        /* width: 100vw; */
        height: 300px;
        background-position: center;

    }
    .title-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .title-background h2{
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        width: 1440px;
        margin: 0 auto;
    } */
    .main .collection{
        text-align: center;
        margin: 20px 0;
    }
    .main .arrange{
        display: flex;
        justify-content: end;
        margin-right: 10px;
    }
    .main .arrange label{
        line-height: 30px;
    }
    .main .arrange select{
        border: 1px solid #dedede;
        height: 30px;
    }
    .main .arrange input{
        border: 1px solid #dedede;
        height: 30px;
        background-color: rgb(255, 255, 255);
        line-height: 29px;
        cursor: pointer;
    }
    .main .arrange input:active{
        background-color: #dedede;
    }
    .main .wrapp-product-large{
        margin: 20px 0;
    }
    .main .wrapp-product-large .wrapp-product{
        display: flex;
        justify-content: center;
    }
    .main .wrapp-product-large .wrapp-product .fame-product{
        width: calc(47% - 10px);
        height: 365px;
        margin: 25px 8px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product img{
        width: 100%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product{
        text-align: center;
        margin: 15px 5px 0px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .name-product{
        margin-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .price-product{
        color: red;
        font-weight: 700;
    }
    .next-page{
        display: flex;
        justify-content: center;
    }
    .next-page .number-page span{
        /* display: flex; */
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 20px 2px;
    }
    .next-page .number-page span:hover{
        color: #fff;
        background-color: #000;
        transition: background-color 0.5s ease-in;
    }
    .image-background{
        background-image: url(../img/za.png);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
        height: 300px;
        background-position: center;
    

    }
    .image-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .image-background h2{
        color: #fff;
        filter: brightness(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
