/* tablet and desktop */
@media only screen and (min-width:1024px){



    .container .back-home{
        /* position: absolute; */
        display: flex;
        /* top: 75px; */
        padding: 75px 0 10px 57px;
    }
    .container .back-home .home a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    .container .back-home .collection-product{
        font-weight: 600;
    }
    .title-background{
        background-repeat: no-repeat;
        background-image: url(../img/breadcrumb-blog_master.jpg);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        /* width: 100vw; */
        height: 300px;
        background-position: center;

    }
    .title-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .title-background h2{
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        width: 1440px;
        margin: 0 auto;
    } */
    .main .collection{
        text-align: center;
        margin: 20px 0;
    }
    .main .arrange{
        display: flex;
        justify-content: end;
        margin-right: 168px;
    }
    .main .arrange label{
        line-height: 30px;
    }
    .main .arrange select{
        border: 1px solid #dedede;
        height: 30px;
    }
    .main .arrange input{
        border: 1px solid #dedede;
        height: 30px;
        background-color: rgb(255, 255, 255);
        line-height: 29px;
        cursor: pointer;
    }
    .main .arrange input:active{
        background-color: #dedede;
    }
    .main .wrapp-product-large{
        margin: 20px 0;
    }
    .main .wrapp-product-large .wrapp-product{
        display: flex;
        flex-wrap: wrap;
        margin: 10%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product{
        width: 370px;
        height: 655px;
        margin: 0 8px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product a{
        text-decoration: none;
        color: #000;
    }
    .main .wrapp-product-large .wrapp-product .fame-product img{
        width: 100%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product{
        text-align: center;
        margin: 15px 5px 0px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .name-product{
        margin-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .price-product{
        color: red;
        font-weight: 700;
    }
    .next-page{
        display: flex;
        justify-content: center;
    }
    .next-page .number-page span{
        /* display: flex; */
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 20px 2px;
    }
    .next-page .number-page span:hover{
        color: #fff;
        background-color: #000;
        transition: background-color 0.5s ease-in;
    }
    .image-background{
        background-image: url(../img/za.png);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
        height: 300px;
        background-position: center;
    

    }
    .image-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .image-background h2{
        color: #fff;
        filter: brightness(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* của những màn hình lớn */
@media (min-width:601px) and (max-width:1024px){



    .container .back-home{
        /* position: absolute; */
        display: flex;
        /* top: 75px; */
        padding: 75px 0 10px 57px;
    }
    .container .back-home .home a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    .container .back-home .collection-product{
        font-weight: 600;
    }
    .title-background{
        background-repeat: no-repeat;
        background-image: url(../img/breadcrumb-blog_master.jpg);
        position: relative;
        /* padding: 200px; */
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        /* width: 100vw; */
        height: 300px;
        background-position: center;

    }
    .title-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .title-background h2{
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        width: 1440px;
        margin: 0 auto;
    } */
    .main .collection{
        text-align: center;
        margin: 20px 0;
    }
    .main .arrange{
        display: flex;
        justify-content: end;
        margin-right: 8px;
    }
    .main .arrange label{
        line-height: 30px;
    }
    .main .arrange select{
        border: 1px solid #dedede;
        height: 30px;
    }
    .main .arrange input{
        border: 1px solid #dedede;
        height: 30px;
        background-color: rgb(255, 255, 255);
        line-height: 29px;
        cursor: pointer;
    }
    .main .arrange input:active{
        background-color: #dedede;
    }
    .main .wrapp-product-large{
        margin: 15px 0;
    }
    .main .wrapp-product-large .wrapp-product{
        display: flex;
        margin-left: 11%;
        flex-wrap: wrap;
    }
    .main .wrapp-product-large .wrapp-product .fame-product{
        width: 370px;
        height: 550px;
        margin: 50px 8px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product a{
        text-decoration: none;
        color: #000;
    }
    .main .wrapp-product-large .wrapp-product .fame-product img{
        width: 100%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product{
        text-align: center;
        margin: 15px 5px 0px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .name-product{
        margin-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .price-product{
        color: red;
        font-weight: 700;
    }
    .next-page{
        display: flex;
        justify-content: center;
    }
    .next-page .number-page span{
        /* display: flex; */
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 20px 2px;
    }
    .next-page .number-page span:hover{
        color: #fff;
        background-color: #000;
        transition: background-color 0.5s ease-in;
    }
    .image-background{
        background-image: url(../img/za.png);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
        height: 300px;
        background-position: center;
    

    }
    .image-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .image-background h2{
        color: #fff;
        filter: brightness(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* media query cho mobile */
@media only screen and (max-width:600px){
    .container .back-home{
        /* position: absolute; */
        display: flex;
        /* top: 75px; */
        padding: 75px 0 10px 15px;
    }
    .container .back-home .home a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }
    .container .back-home .collection-product{
        font-weight: 600;
    }
    .title-background{
        background-repeat: no-repeat;
        background-image: url(../img/breadcrumb-blog_master.jpg);
        position: relative;
        /* padding: 200px; */
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        /* width: 100vw; */
        height: 300px;
        background-position: center;

    }
    .title-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .title-background h2{
        color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        width: 1440px;
        margin: 0 auto;
    } */
    .main .collection{
        text-align: center;
        margin: 20px 0;
    }
    .main .arrange{
        display: flex;
        justify-content: end;
        margin-right: 10px;
    }
    .main .arrange label{
        line-height: 30px;
    }
    .main .arrange select{
        border: 1px solid #dedede;
        height: 30px;
    }
    .main .arrange input{
        border: 1px solid #dedede;
        height: 30px;
        background-color: rgb(255, 255, 255);
        line-height: 29px;
        cursor: pointer;
    }
    .main .arrange input:active{
        background-color: #dedede;
    }
    .main .wrapp-product-large{
        margin: 20px 0;
    }
    .main .wrapp-product-large .wrapp-product{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main .wrapp-product-large .wrapp-product .fame-product{
        width: calc(47% - 10px);
        height: 365px;
        margin: 25px 8px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product a{
        text-decoration: none;
        color: #000;
    }
    .main .wrapp-product-large .wrapp-product .fame-product img{
        width: 100%;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product{
        text-align: center;
        margin: 15px 5px 0px;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .name-product{
        margin-bottom: 15px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .main .wrapp-product-large .wrapp-product .fame-product .content-product .price-product{
        color: red;
        font-weight: 700;
    }
    .next-page{
        display: flex;
        justify-content: center;
    }
    .next-page .number-page span{
        /* display: flex; */
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        text-align: center;
        line-height: 30px;
        margin: 20px 2px;
    }
    .next-page .number-page span:hover{
        color: #fff;
        background-color: #000;
        transition: background-color 0.5s ease-in;
    }
    .image-background{
        background-image: url(../img/za.png);
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
        height: 300px;
        background-position: center;
    

    }
    .image-background .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .image-background h2{
        color: #fff;
        filter: brightness(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
