body{
    width: 1440px;
    margin: 0 auto;
}
header nav{
    display: flex;
}
nav img {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 100px;
}

nav ul li{
    list-style: none;
    width: 120px;
    text-align: center;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
}
input {
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20px;
}
input[type="placeholder"]{
    color: #000;
    font-size: 14px;
    width: 100px;
}
header nav ul .search{
    position: absolute;
    right: 270px;
    font-size: larger;
}
header nav ul .cart{
    right: 20px;
    font-size: larger;
    margin-left: 20px;
}
