/* Dekstop */
@media only screen and (min-width:1024px)
/* Đăng nhập */
{
    .container .main .img-title {
        width: 100vw;
        height: 300px;
        padding-top: 95px;
        background-image: url('../img/t-shirt_grande.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Để lớp phủ có thể được đặt chính xác */

    }
    .container .main .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
        pointer-events: none; /* Không chặn sự kiện chuột */
    }
    .container .main .img-title p {
        text-align: center;

        margin: 0 30px 0 30px 30px; /* Xóa khoảng cách bên ngoài */
        padding: 0;
        color: white;
        font-weight: 500;
        font-size: 24px;
        z-index: 1; /* Đảm bảo chữ nằm trên lớp phủ */
    }
    .container .main .form-information {
        width: 100vw;
        height: 395px;
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    .container .main .form-information .form{
        width: 400px;
        height: 370px;
        /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); */
    }
    .container .main .title{
        width: 100%;
        height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        /* background-color: aliceblue; */
        margin-bottom: 12px;
    
    }
    .container .main .title p{
        font-weight: 700;
        font-size: 24px;
    }
    .container .main .form-information .form input{
        width: 100%;
        padding: 8px 10px;
        background-color: rgb(232,240,254);
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: 200;
        color: black;
        border: none;
        outline: none;
    }
    
    .container .main .form-information .form #button-sigin {
        width: 100%;
        margin: 0 0 10px;
        padding: 8px 10px;
        height: 40px;
        font-size: 16px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: #ae1515;
        align-items: center;
        border: none;
    }
    .container .main .form-information .form #button-sigin:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        outline: none;
    }
    .container .main .form-information .form .button-link{
        width: 200px;
        height: 40px;
        margin: 0 0 8px;
        padding: 0 10px 0 0;
        display: flex;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        border-radius: 3px;
    }
    .container .main .form-information .form .button-link:hover{
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    }
    .container .main .form-information .form .button-link .pre-btn-login{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .container .main .form-information .form .button-link p{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .container .main .form-information .form .facebook{
        background-color: rgb(59,89,152);
    }
    .container .main .form-information .form .google{
        background-color: rgb(221,75,57);
    }
    .container .main .form-information .link-dieuhuong{
        width: 100%;
        height: 70px;
        margin-top: 20px;
    }
    .container .main .form-information .link-dieuhuong ul{
        width: 100%;
        list-style: none;
    }
    .container .main .form-information .link-dieuhuong ul li{
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .container .main .form-information .link-dieuhuong ul li a{
        text-decoration: none;
        color: black;
    }
    /* Đăng kí - Tạo tài khoản */
    
}

/* Tablet */
@media only screen and (max-width:1024px)
/* Đăng nhập */
{
    .container .main .img-title {
        margin: 0;
        width: 100vw;
        height: 260px;
        padding-top: 85px;
        background-image: url('../img/t-shirt_grande.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Để lớp phủ có thể được đặt chính xác */
    }
    .container .main .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
        pointer-events: none; /* Không chặn sự kiện chuột */
    }
    .container .main .img-title p {
        text-align: center;
        /* width: 500px; */
        margin: 0 30px 0 30px; /* Xóa khoảng cách bên ngoài */
        padding: 0;
        color: white;
        font-weight: 500;
        font-size: 24px;
        z-index: 1; /* Đảm bảo chữ nằm trên lớp phủ */
    }
    .container .main .form-information {
        width: 100vvw;
        height: 395px;
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    .container .main .form-information .form{
        width: 400px;
        height: 370px;
    }
    .container .main .title{
        width: 100%;
        height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        /* background-color: aliceblue; */
        margin-bottom: 12px;
    
    }
    .container .main .title p{
        font-weight: 700;
        font-size: 24px;
    }
    .container .main .form-information .form input{
        width: 100%;
        padding: 8px 10px;
        background-color: rgb(232,240,254);
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: 200;
        color: black;
        border: none;
        outline: none;
    }
    
    .container .main .form-information .form #button-sigin {
        width: 100%;
        margin: 0 0 10px;
        padding: 8px 10px;
        height: 40px;
        font-size: 16px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: #ae1515;
        align-items: center;
        border: none;
    }
    .container .main .form-information .form #button-sigin:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        outline: none;

    }
    .container .main .form-information .form .button-link{
        width: 200px;
        height: 40px;
        margin: 0 0 8px;
        padding: 0 10px 0 0;
        display: flex;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
    } 
    .container .main .form-information .form .button-link:hover{
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
    }
    .container .main .form-information .form .button-link  .pre-btn-login{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .container .main .form-information .form .button-link p{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .container .main .form-information .form .facebook{
        background-color: rgb(59,89,152);
    }
    .container .main .form-information .form .google{
        background-color: rgb(221,75,57);
    }
    .container .main .form-information .link-dieuhuong{
        width: 100%;
        height: 70px;
        margin-top: 20px;
    }
    .container .main .form-information .link-dieuhuong ul{
        width: 100%;
        list-style: none;
    }
    .container .main .form-information .link-dieuhuong ul li{
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .container .main .form-information .link-dieuhuong ul li a{
        text-decoration: none;
        color: black;
    }
    /* Đăng kí - Tạo tài khoản */
}

/* Mobile */
@media only screen and (max-width: 600px) {
    /* Đăng nhập */
    .container .main .img-title {
        width: 100vw; /* Chiếm toàn bộ chiều rộng của màn hình */
        height: 250px; /* Chiều cao cố định, có thể điều chỉnh nếu cần */
        padding-top: 78px; /* Padding trên */
        background-image: url('../img/t-shirt_grande.jpg');
        background-repeat: no-repeat;
        background-size: cover; /* Sử dụng cover để hình ảnh lấp đầy phần tử */
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Để lớp phủ có thể được đặt chính xác */
        overflow: hidden; /* Đảm bảo không có nội dung nào tràn ra ngoài */
    }

    .container .main .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
        pointer-events: none; /* Không chặn sự kiện chuột */
    }
    .container .main .img-title p {
        text-align: center;

        margin: 0 30px 0 30px 30px; /* Xóa khoảng cách bên ngoài */
        padding: 0;
        color: white;
        font-weight: 500;
        font-size: 24px;
        z-index: 1; /* Đảm bảo chữ nằm trên lớp phủ */
    }
    .container .main .form-information {
        width: 100vvw;
        height: 395px;
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    .container .main .form-information .form{
        width: 400px;
        height: 370px;
    }
    .container .main .title{
        width: 100%;
        height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        /* background-color: aliceblue; */
        margin-bottom: 12px;
    
    }
    .container .main .title p{
        font-weight: 700;
        font-size: 24px;
    }
    .container .main .form-information .form input{
        width: 100%;
        padding: 8px 10px;
        background-color: rgb(232,240,254);
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: 200;
        color: black;
        border: none;
        outline: none;
    }
    
    .container .main .form-information .form #button-sigin {
        width: 100%;
        margin: 0 0 10px;
        padding: 8px 10px;
        height: 40px;
        font-size: 16px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: #ae1515;
        align-items: center;
        border: none;
    }
    .container .main .form-information .form #button-sigin:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        outline: none;
    }
    .container .main .form-information .form .button-link{
        width: 200px;
        height: 40px;
        margin: 0 0 8px;
        padding: 0 10px 0 0;
        display: flex;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        border-radius: 3px;
    }
    .container .main .form-information .form .button-link:hover{
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    }
    .container .main .form-information .form .button-link  .pre-btn-login{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .container .main .form-information .form .button-link p{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .container .main .form-information .form .facebook{
        background-color: rgb(59,89,152);
    }
    .container .main .form-information .form .google{
        background-color: rgb(221,75,57);
    }
    .container .main .form-information .link-dieuhuong{
        width: 100%;
        height: 70px;
        margin-top: 20px;
    }
    .container .main .form-information .link-dieuhuong ul{
        width: 100%;
        list-style: none;
    }
    .container .main .form-information .link-dieuhuong ul li{
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .container .main .form-information .link-dieuhuong ul li a{
        text-decoration: none;
        color: black;
    }
    /* Đăng kí - Tạo tài khoản */
}
